@if (ChildContent != null)
{
    <div class="layout-item @($"align-{Alignment}")" style="@GetStyle()">
        @ChildContent
    </div>
}

@code {
    [Parameter]
    public string Width { get; set; } = "100%";

    [Parameter]
    public string Alignment { get; set; } = "left";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string GetStyle()
    {
        string plainWidthString= Width.Replace("%", "");
        int plainWidthInt = int.Parse(plainWidthString);
        int flexBasis = 200 / plainWidthInt;

        return $"width: {Width}; flex: {flexBasis};";
    }
}