@page "/"
@using Microsoft.Extensions.Options
@using VVibrantDynamicLayout.Client.Configuration
@inject IOptions<LayoutSettings> LayoutSettings

<PageTitle>Dynamic Layout</PageTitle>

@if (LayoutConfig?.Partitions != null)
{
    <div class="layout-container" style="--gutter: @LayoutConfig.Gutter; --partition-spacing: @LayoutConfig.PartitionSpacing;">
        @for (int partitionIndex = 0; partitionIndex < LayoutConfig.Partitions.Count; partitionIndex++)
        {
            var partition = LayoutConfig.Partitions[partitionIndex];
            bool isLastPartition = partitionIndex == LayoutConfig.Partitions.Count - 1;
           
            <LayoutRenderer LayoutComponentData="partition" IsLastPartition="isLastPartition" />
        }
    </div>
}
else
{
    <p>Loading layout configuration...</p>
}

@code {
    private LayoutSettings LayoutConfig;

    protected override void OnInitialized()
    {
        LayoutConfig = LayoutSettings.Value;
    }
}